*{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 300px;
    width: 300px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}